<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
    <link rel="icon" href="/img/fav.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait"
            src="https://upload.wikimedia.org/wikipedia/ru/thumb/6/68/%D0%A8%D0%B5%D0%BB%D0%B4%D0%BE%D0%BD_%D0%9F%D0%BB%D0%B0%D0%BD%D0%BA%D1%82%D0%BE%D0%BD.jpg/266px-%D0%A8%D0%B5%D0%BB%D0%B4%D0%BE%D0%BD_%D0%9F%D0%BB%D0%B0%D0%BD%D0%BA%D1%82%D0%BE%D0%BD.jpg"
            alt="I am">
    </div>

    {{>footer}}
</body>

</html>